.filter_button_container{
    display: flex;
    justify-content: center;
}

.showfilter,
.showfilter2{
    border: none;
    background-color: rgb(108, 108, 255);
    color: white;
    width: 7rem;
    cursor: pointer;
    position: absolute;
    top: 3rem;
    width: 12rem;
    height: 2rem;
    font-weight: 600;
    border-radius: 0px;
}
.showfilter{
    left: 30vw;
}
.showfilter2{
    right: 30vw;
}

.sidebar{
    display: flex;
    height: 100vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 300px;
    top: 2.3rem;
    flex-direction: column;
    overflow-y: auto;
    left: -100%;
    transition: 0.4s;
}

.sidebar.is-active{
    left: 0;
}

.sidebar h3{
    margin-top: 0.5rem;
    font-size: 1.3rem;
    text-decoration: underline;
    margin-left: 1rem;
}

.sidebar h5{
    margin-left: 12rem;
    color: brown;
    text-decoration: underline;
    cursor: pointer;
}

.sidebar-brand,
.sidebar-price,
.sidebar-color{
    display: flex;
    flex-direction: column;
    margin:1rem 0 0 1rem;
}

.sidebar-brand h4,
.sidebar-price h4,
.sidebar-color h4{
    margin-bottom: 1rem;
}

.sidebar-brand input,
.sidebar-price input,
.sidebar-color input{
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 1rem;
}

.makeitred,
.makeitgreen,
.makeitblue,
.makeityellow,
.makeitwhite{
    background-color: red;
    color: red;
    border-radius: 20px;
    font-size:0.9rem;
    margin-right: 0.6rem;
    border: 1px solid black;
}

.makeitblue{
    color: blue;
    background-color: blue;
}

.makeitgreen{
    color: green;
    background-color: green;
}

.makeitwhite{
    color: white;
    background-color: white;
}

.makeityellow{
    color: yellow;
    background-color: yellow;
}

.sidebar-color{
    margin-bottom: 3rem;
}

.filter_apply{
    margin-top: 2rem;
    width: 90%;
    background-color: rgb(108, 108, 255);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 800;
    height: 2rem;
}

@media screen and (max-width:550px) {
    .showfilter,
    .showfilter2{
        position: fixed;
        top: 2.4rem;
        height: 3rem;
        width: 49%;
        margin: 0;
        border-radius: 0px;
    }
    .showfilter{
        left: 0px;
    }
    .showfilter2{
        right: 0px;
    }
}