.mentshirt_container{
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mentshirt_container_items{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.mentshirt_container img{
    width: 20rem;
    height: 20rem;
    margin: 1rem;
}

.mentshirt_container_items_text{
    font-weight: 600;
}

.mentshirt_container button{
    color: white;
    background-color: rgb(108, 108, 255);
    border: none;
    cursor: pointer;
    height: 2.2rem;
    width: 70%;
    margin-top: 1rem;
}