.mentshirt_container{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mentshirt_container img{
    width: 20rem;
    height: auto;
    margin: 1rem;
}