.showdetails_goback{
    margin: 4rem 0 1rem 1rem;
    background-color: rgb(108, 108, 255);
    color: white;
    border: none;
    height: 2rem;
    width: 5rem;
    cursor: pointer;
}

.showdetails_goback2{
    margin: 0.4rem 0 0.4rem 0;
    width: 9rem;
    height: 2.5rem;
}

.showitem_main img{
    height: 60vh;
    width: auto;
}