.image_back img{
    width: 100%;
    height: auto;
    display: block;
}

.image_back h2{
    text-align: center;
    color: rgb(78, 78, 78);
}


@media screen and (max-width:550px) {
    .image_back img{
        display: flex;
    }
    .image_back h2{
        font-size: 1rem;
    }

}