/* Navbar closed */

/* nav{
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(213, 213, 213, 0);
    height: 3rem;
    z-index: 10;
}

nav:hover{
    background-color: white;
    transition: 0.6s;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    margin: 1rem;
}

nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 1rem;
}

nav a img{
    height: 35px;
}

.logo{
    margin-left: 1rem;
}

.ham{
    margin-right: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

nav.sticky{
    background-color: white;
}

.sticky a{
    color: black;
}

.gothic a{
    font-family: 'League Gothic', sans-serif;
    font-size: 24px;
} */

/* navbar closed end */


/* hamburger menu open */


/* .hamburger{
    background-color: white;
    position: fixed;
    display: none;
    flex-direction: column;
    width: 30%;
    height: auto;
    top: 0px;
    right: 0px;
    z-index: 100;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hamburger_buttons button{
    background:none;
    border: none;
    cursor: pointer;
    margin: 2rem 1rem 0 2rem;
}

#hamburger_buttons_signup,
#hamburger_buttons_login,
#hamburger_buttons_close{
    background: #C7C7C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    height: 2.8rem;
    width: 7rem;
    color: white;
    font-size: 15px;
}

#hamburger_buttons_login{
    background: #8277FF;
}

#hamburger_buttons_close{
    background: black;
    color: white;
    width: 3rem;
    border-radius: 60px;
    font-size: 18px;
}

.hamburger_search{
    margin-top: 2rem;
}

.hamburger_search input{
    height: 2.5rem;
    border: 1px solid #000000;
    border-radius: 6px;
}

.hamburger_search input:focus{
    outline: black;
}

.hamburger_search button{
    background: #8277FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin-left: 2rem;
    height: 2.8rem;
    width: 7rem;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

.hamburger_items {
    display: flex;
    margin-top: 2rem;
}

.hamburger_items a{
    color: black;
    text-decoration: none;
}

.hamburger_items li{
    list-style: none;
    margin: 0 0 1rem 0;
    font-size: 1rem;
}

.hamburger_items_men{
    margin-right: 3rem;
}

.hamburger_items_women{
    margin-left: 3rem;
}

.hamburger_bold{
    font-weight: 600;
    font-size: 16px;
}


.hamburger_bold2{
    font-weight: 600;
    font-size: 18px;
}

.hamburger_gothic{
    font-family: 'League Gothic';
    font-size: 28px;
}

.hamburger_tailor{
    margin: 1rem 0 1rem 0;
    color: black;
    text-decoration: none;
    font-family: 'League Gothic';
    font-size: 36px;
    text-align: center;
}

.gothic_new{
    display: none;
}
.gothic_new a{
    color: black;
}

@media screen and (max-width:1000px) {
    nav li{
        margin: 0;
    }
    .hamburger{
        width: auto;
    }
}

@media screen and (max-width:850px) {
    nav li a{
        font-size: 0.8rem;
    }

    .gothic a{
        font-size: 1.2rem;
    }

    nav a img{
        height: 35px;
    }
    .hamburger{
        width: 50%;
    }

    #hamburger_buttons_signup,
    #hamburger_buttons_login,
    #hamburger_buttons_close,
    .hamburger button{
        height: 2.5rem;
        width: 6rem;
        font-size: 13px;
    }

    #hamburger_buttons_close{
        border-radius: 60px;
        width: 2.5rem;
    }

    .hamburger_items_men{
        font-size: 0.9rem;
    }

    .hamburger_buttons button{
        margin: 1rem 1rem 0 0;
    }

    .hamburger_search{
        margin: 1rem 0 0 0;
    }

    .hamburger_search input{
        width: 13rem;
    }

    .hamburger_search button{
        margin-left: 1rem;
    }

    .hamburger_items {
        margin-top: 1rem;
    }

    .hamburger_tailor{
        font-size: 2rem;
    }
    .hamburger_items li{
        margin: 0 0 0.7rem 0;
    }
}

@media screen and (max-width:700px) {
    .hamburger{
        width: 70%;
    }

    nav li{
        display: none;
    }

    .gothic_new{
        display: flex;
    }

    .gothic_new a{
        font-family: 'League Gothic', sans-serif;
        font-size: 1.3rem;
    }
}

@media screen and (max-width:1200px) {
    .hamburger{
        width: 50%;
    }
}

@media screen and (max-height:900px) { 
    #hamburger_buttons_signup,
    #hamburger_buttons_login,
    #hamburger_buttons_close,
    .hamburger button{
        height: 2.5rem;
        width: 6rem;
        font-size: 13px;
    }

    #hamburger_buttons_close{
        border-radius: 60px;
        width: 2.5rem;
    }

    .hamburger_items_men{
        font-size: 0.9rem;
    }

    .hamburger_buttons button{
        margin: 1rem 1rem 0 0;
    }

    .hamburger_search{
        margin: 1rem 0 0 0;
    }

    .hamburger_search input{
        width: 13rem;
    }

    .hamburger_search button{
        margin-left: 1rem;
    }

    .hamburger_items {
        margin-top: 1rem;
    }

    .hamburger_tailor{
        font-size: 2rem;
    }
    .hamburger_items li{
        margin: 0 0 0.7rem 0;
    }
}

@media screen and (max-width:550px) {
    .logo img{
        height: 1.7rem;
        width: auto;
    }
    
    .ham img{
        height: 1.8rem;
    }

    .hamburger{
        width: 95%;
        height: auto;
    }

    #hamburger_buttons_signup,
    #hamburger_buttons_login,
    #hamburger_buttons_close,
    .hamburger button{
        height: 2.5rem;
        width: 6rem;
        font-size: 13px;
    }

    #hamburger_buttons_close{
        border-radius: 60px;
        width: 2.5rem;
    }

    .hamburger_items_men a,
    .hamburger_items_women a{
        font-size: 0.9rem;
    }

    .hamburger_buttons button{
        margin: 1rem 1rem 0 0;
    }

    .hamburger_search{
        margin: 1rem 0 0 0;
    }

    .hamburger_search input{
        width: 13rem;
    }

    .hamburger_search button{
        margin-left: 1rem;
    }

    .hamburger_items {
        margin-top: 1rem;
    }

    .hamburger_tailor{
        font-size: 1.5rem;
    }
    .hamburger_items li{
        margin: 0 0 0.5rem 0;
    }
    .hamburger_gothic{
       display: none;
    }

    .hamburger_bold2{
        border-bottom: 1px solid black;
    }
    .gothic_new{
        display: flex;
    }
    .gothic_new a{
        font-family: 'League Gothic', sans-serif;
        font-size:1.1rem;
    }
}

@media screen and (max-height:760px) {
    #hamburger_buttons_signup,
    #hamburger_buttons_login,
    #hamburger_buttons_close,
    .hamburger button{
        height: 2.5rem;
        width: 6rem;
        font-size: 13px;
    }

    #hamburger_buttons_close{
        border-radius: 60px;
        width: 2.5rem;
    }

    .hamburger_items_men a,
    .hamburger_items_women a{
        font-size: 0.9rem;
    }

    .hamburger_buttons button{
        margin: 1rem 1rem 0 0;
    }

    .hamburger_search{
        margin: 1rem 0 0 0;
    }

    .hamburger_search input{
        width: 13rem;
    }

    .hamburger_search button{
        margin-left: 1rem;
    }

    .hamburger_items {
        margin-top: 1rem;
    }

    .hamburger_tailor{
        font-size: 1.5rem;
    }
    .hamburger_items li{
        margin: 0 0 0.5rem 0;
    }
    .hamburger_gothic{
       display: none;
    }

    .hamburger_bold2{
        border-bottom: 1px solid black;
    }
    .gothic_new a{
        font-family: 'League Gothic', sans-serif;
        font-size:1.1rem;
    }
} */